{% extends '::base.html.twig' %}
{% block menu %}
    {%include '::menu.html.twig' with {'selected':'list_staffs'} %}
{% endblock %}
{% block body %}
    <div class='container'>
        <h1>Liste des personnels</h1>
        <hr/>
        <table class='table table-bordered'>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Date de naissance</th>
                    <th>Date d'embauche</th>
                    <th>N° Matricule</th>
                    <th>Salaire</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for staff in staffs %}
                <tr>
                    <td>{{ staff.firstName }}</td>
                    <td>{{ staff.lastName }}</td>
                    <td>{% if staff.birthDate %}{{ staff.birthDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if staff.hiringDate %}{{ staff.hiringDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ staff.matricule }}</td>
                    <td>{{ staff.netSalary }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('staffs_show', { 'id': staff.id }) }}">show</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>    
{% endblock %}
