{% extends '::base.html.twig' %}
{% block menu %}
    {%include '::menu.html.twig' with {'selected':'list_staffs'} %}
{% endblock %}
{% block body %}
<div class="container">
    <h3>Voici les l'information complete du ce personnel</h3>
    <br/>
    <div class="row">
        <table class='table table-condensed'>
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ staff.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ staff.firstName }}</td>
                </tr>
                <tr>
                    <th>Prenom</th>
                    <td>{{ staff.lastName }}</td>
                </tr>
                <tr>
                    <th>Date de naissance</th>
                    <td>{% if staff.birthDate %}{{ staff.birthDate|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Date d'embauche</th>
                    <td>{% if staff.hiringDate %}{{ staff.hiringDate|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>N° Matricule</th>
                    <td>{{ staff.matricule }}</td>
                </tr>
                <tr>
                    <th>Salaire</th>
                    <td>{{ staff.netSalary }}</td>
                </tr>
            </tbody>
        </table>
     </div>

    <div class="row">
    <ul class="list-unstyled text-right" >
        <li>
            <a href="{{ path('staffs_index') }}">Retour à la liste</a>
        </li>
    </ul>
    <div>
</div>
{% endblock %}
